<{* $Id: weblinks_singlelink.html.\040CDS\040Patch.html,v 1.1 2012/04/09 10:21:09 ohwada Exp $ *}>

<{$weblinks_module_header}>

&nbsp;
<a href="<{$xoops_url}>/"><{$lang_home}></a> &gt;&gt; 
<{if $keywords != '' }>
  <a href="<{$xoops_url}>/modules/<{$dirname}>/index.php?keywords=<{$keywords}>">
<{else}>
  <a href="<{$xoops_url}>/modules/<{$dirname}>/index.php">
<{/if}>
<{$module_name}></a> &gt;&gt; 
<span class="weblinks_bold"><{$link.title_s}></span>
<br /><br />

<{$weblinks_header}>

<center>
<{$weblinks_search_form}>
</center>

<{$weblinks_guidance}>

<{if $show_photo_list}>
  <br />
  <{$weblinks_photo_list}>
  <br />
<{/if}>

<{* google map : hacked by wye *}>
<{if $show_gm_single}>
  <{$weblinks_gm_single}>
<{/if}>

<{if $link.warn_time_publish}>
  <span class="weblinks_waning"><{$lang_warn_time_publish}></span> : 
  <{$link.time_publish_long}><br />
<{/if}>

<{if $link.warn_time_expire}>
  <span class="weblinks_waning"><{$lang_warn_time_expire}></span> : 
  <{$link.time_expire_long}><br />
<{/if}>

<{if $link.warn_broken}>
  <span class="weblinks_waning"><{$lang_warn_broken}></span> :
  <{$lang_broken_counter}> = <{$link.broken}><br />
<{/if}>
<br />

<div class="weblinks_singlelink_frame">

<{* -- Start path loop -- *}>
<{section name=i loop=$catpaths}>
  <{if $keywords != '' }>
    <a href="<{$xoops_url}>/modules/<{$dirname}>/index.php?keywords=<{$keywords}>">
  <{else}>
    <a href="<{$xoops_url}>/modules/<{$dirname}>/index.php">
  <{/if}>
  <{$lang_main}></a> 
  <img src="<{$xoops_url}>/modules/<{$dirname}>/images/arrow1.gif" border="0" alt="arrow" />&nbsp;
  <{section name=j loop=$catpaths[i]}>
    <{if $keywords != '' }>
      <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$catpaths[i][j].cid}>&amp;keywords=<{$keywords}>">
    <{else}>
      <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$catpaths[i][j].cid}>">
    <{/if}>
    <{$catpaths[i][j].title_s}></a>
    <{if $smarty.section.j.last == false}>
      &nbsp;<img src="<{$xoops_url}>/modules/<{$dirname}>/images/arrow2.gif" border="0" alt="arrow" />&nbsp;
    <{/if}>
  <{/section}>
    <br />
<{/section}>
<{* -- End path loop -- *}>

</div><br />

<div class="weblinks_singlelink_frame">
  <{$weblinks_link_single}>
</div><br />

<{if $link.textarea1_disp}>
  <div class="weblinks_singlelink_textarea1">
  <span class="weblinks_bold"><{$lang_link_textarea1}></span><br />
  <{$link.textarea1_disp}>
  </div><br />
<{/if}>

<{if $link.textarea2_disp}>
  <div class="weblinks_singlelink_textarea2">
  <span class="weblinks_bold"><{$lang_link_textarea2}></span><br />
  <{$link.textarea2_disp}>
  </div><br />
<{/if}>

<a name="rss"></a>

<{if $rss_flag == 1}>
  <span class="weblinks_bold"><{$smarty.const._WEBLINKS_RDF_FEED}></span>&nbsp;&nbsp;
  <a href="<{$rss_url}>" target="_blank">
  <img src="<{$xoops_url}>/modules/<{$dirname}>/images/rdf.png" border="0" alt="rdf" /></a>&nbsp;
<{elseif $rss_flag == 2}>
  <span class="weblinks_bold"><{$smarty.const._WEBLINKS_RSS_FEED}></span>&nbsp;&nbsp;
  <a href="<{$rss_url}>" target="_blank">
  <img src="<{$xoops_url}>/modules/<{$dirname}>/images/rss.png" border="0" alt="rss" /></a>&nbsp;
<{elseif $rss_flag == 3}>
  <span class="weblinks_bold"><{$smarty.const._WEBLINKS_ATOM_FEED}></span>&nbsp;&nbsp;
  <a href="<{$rss_url}>" target="_blank">
  <img src="<{$xoops_url}>/modules/<{$dirname}>/images/atom.png" border="0" alt="atom" /></a>&nbsp;
<{/if}>

<{if ($rss_flag == 1) || ($rss_flag == 2) || ($rss_flag == 3) }>
  <{$lang_lastupdate}>&nbsp;<{$rss_update}>
  <br /><br />

<{* -- feed list begin -- *}>
  <div class="weblinks_singlelink_frame_feed">
  <{if $rss_show}>
    <{foreach name=weblinks_single_feed item=feed from=$feeds}>
      <div class="weblinks_feed_frame_title">
        <a href="<{$feed.link}>" target="_blank"><span class="weblinks_feed_title"><{$feed.title}></span></a><br />
        &nbsp; <{$smarty.const._WEBLINKS_FROM}> <a href="<{$feed.site_link}>" target="_blank"><{$feed.site_title}></a>&nbsp;
        <{if $feed.updated_long}>
          (<{$feed.updated_long}>)&nbsp;
        <{/if}>
      </div>
      <{if $smarty.foreach.weblinks_single_feed.iteration <= $rss_num_content}>
        <div class="weblinks_feed_frame_content">
          <{if $feed.content}>
            <{$feed.content}>
          <{/if}>
        </div>
      <{else}>
        <div class="weblinks_feed_frame_summary">
          <{if $feed.summary}>
            <{$feed.summary}>
          <{/if}>
        </div>
      <{/if}>
    <{/foreach}>
  <{else}>
    <span class="weblinks_blue"><{$smarty.const._WEBLINKS_NOFEED}></span>
  <{/if}>
  </div><br />
<{* -- feed list end -- *}>

<{/if}>

<a name="comment"></a>

<{if $show_forum_list}>
  <br />
  <span class="weblinks_subtitle"><{$lang_latest_forum}></span><br /><br />
  <div class="weblinks_viewcat_frame">
    <{$weblinks_forum_list}>
  </div>
<{/if}>

<{$d3forum_comment}>

<{if $show_comment}>
  <div class="weblinks_comment_navi">
  <{$commentsnav}>
  <{$lang_notice}>
  </div>

<{* -- start comments -- *}>
  <div class="weblinks_frame_comment">
  <{if $comment_mode == "flat"}>
    <{include file="db:system_comments_flat.html"}>
  <{elseif $comment_mode == "thread"}>
    <{include file="db:system_comments_thread.html"}>
  <{elseif $comment_mode == "nest"}>
    <{include file="db:system_comments_nest.html"}>
  <{/if}>
  </div>
<{* -- end comments -- *}>

  <{include file="db:system_notification_select.html"}>
<{/if}>

<hr />
<div class="weblinks_execution_time"><{$smarty.const._WEBLINKS_EXECUTION_TIME}> : <{$execution_time}> <{$smarty.const._WEBLINKS_SEC}> </div>
<{if $is_module_admin }>
  <{if $memory_usage > 0}>
	<div class="weblinks_memory_usage"><{$smarty.const._WEBLINKS_MEMORY_USAGE}> : <{$memory_usage}> <{$smarty.const._WEBLINKS_MB}> </div>
  <{/if}>
	<a href="<{$xoops_url}>/modules/<{$dirname}>/admin/index.php"><{$lang_goto_admin}></a>
<{/if}>
