<{* $Id: weblinks_guidance_rssicon.html,v 1.1 2012/04/09 10:22:24 ohwada Exp $ *}>

<{* -- rss icon -- *}>
<a href="<{$xoops_url}>/modules/<{$dirname}>/rdf.php" target='_blank'>
<img src="<{$xoops_url}>/modules/<{$dirname}>/images/rdf.png" border="0" alt="rdf" /></a>&nbsp;
<a href="<{$xoops_url}>/modules/<{$dirname}>/rss.php" target='_blank'>
<img src="<{$xoops_url}>/modules/<{$dirname}>/images/rss.png" border="0" alt="rss" /></a>&nbsp;
<a href="<{$xoops_url}>/modules/<{$dirname}>/atom.php" target='_blank'>
<img src="<{$xoops_url}>/modules/<{$dirname}>/images/atom.png" border="0" alt="atom" /></a>&nbsp;
<br /><br />

