<{* $Id: weblinks_map_jp.html,v 1.2 2007/11/07 11:14:31 ohwada Exp $ *}>
<{* http://d.hatena.ne.jp/wata300/20060308/p1 *}>

<table class="weblinks_map_jp">
<tr>
  <td></td><td></td><td></td><td></td><td></td>
  <td></td><td></td><td></td><td></td><td></td>
  <td></td><td></td><td></td>
  <td colspan="2" class="weblinks_map_hokkaido">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.hokkaido.cid}>" ><{$pref.hokkaido.name}></a>
    <br />(<{$pref.hokkaido.count}>)
  </td>
</tr>
<tr class="weblinks_map_tsugaru">
  <td></td><td></td><td></td><td></td><td></td>
  <td></td><td></td><td></td><td></td><td></td>
  <td></td><td></td><td></td><td></td><td></td>
</tr>
<tr class="weblinks_map_jp">
  <td></td><td></td><td></td><td></td><td></td>
  <td></td><td></td><td></td><td></td><td></td>
  <td></td><td></td><td></td>
  <td class="weblinks_map_aomori" colspan="2" >
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.aomori.cid}>" ><{$pref.aomori.name}></a>
    <br />(<{$pref.aomori.count}>)
  </td>
</tr>
<tr class="weblinks_map_jp">
  <td></td><td></td><td></td><td></td><td></td>
  <td></td><td></td><td></td><td></td><td></td>
  <td></td><td></td><td></td> 
  <td class="weblinks_map_tohoku">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.akita.cid}>" ><{$pref.akita.name}></a>
    <br />(<{$pref.akita.count}>)
  </td>
  <td class="weblinks_map_tohoku">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.iwate.cid}>" ><{$pref.iwate.name}></a>
    <br />(<{$pref.iwate.count}>)
  </td>
</tr>
<tr class="weblinks_map_jp">
  <td></td><td></td><td></td><td></td><td></td>
  <td></td><td></td><td></td><td></td><td></td>
  <td></td><td></td><td></td>
  <td class="weblinks_map_tohoku">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.yamagata.cid}>" ><{$pref.yamagata.name}></a>
    <br />(<{$pref.yamagata.count}>)
  </td>
  <td class="weblinks_map_tohoku">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.miyagi.cid}>" ><{$pref.miyagi.name}></a>
    <br />(<{$pref.miyagi.count}>)
  </td>
</tr>
<tr class="weblinks_map_jp">
  <td></td><td></td><td></td><td></td><td></td>
  <td></td><td></td><td></td><td></td><td></td>
  <td class="weblinks_map_hokuriku">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.ishikawa.cid}>" ><{$pref.ishikawa.name}></a>
    <br />(<{$pref.ishikawa.count}>)
  </td>
  <td class="weblinks_map_hokuriku">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.toyama.cid}>" ><{$pref.toyama.name}></a>
    <br />(<{$pref.toyama.count}>)
  </td>
  <td class="weblinks_map_hokuriku">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.niigata.cid}>" ><{$pref.niigata.name}></a>
    <br />(<{$pref.niigata.count}>)
  </td>
  <td class="weblinks_map_fukushima" colspan="2" >
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.fukushima.cid}>" ><{$pref.fukushima.name}></a>
    <br />(<{$pref.fukushima.count}>)
  </td>
</tr>
<tr class="weblinks_map_jp">
  <td class="weblinks_map_kyushu">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.nagasaki.cid}>" ><{$pref.nagasaki.name}></a>
    <br />(<{$pref.nagasaki.count}>)
  </td>
  <td class="weblinks_map_kyushu">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.saga.cid}>" ><{$pref.saga.name}></a>
    <br />(<{$pref.saga.count}>)  
  </td>
  <td class="weblinks_map_kyushu">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.fukuoka.cid}>" ><{$pref.fukuoka.name}></a>
    <br />(<{$pref.fukuoka.count}>)
  </td>
  <td class="weblinks_map_kanmon"></td>
  <td rowspan="2" class="weblinks_map_yamaguchi">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.yamaguchi.cid}>" ><{$pref.yamaguchi.name}></a>
    <br />(<{$pref.yamaguchi.count}>)  
  </td>
  <td class="weblinks_map_chugoku">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.shimane.cid}>" ><{$pref.shimane.name}></a>
    <br />(<{$pref.shimane.count}>)  
  </td>
  <td class="weblinks_map_chugoku">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.tottori.cid}>" ><{$pref.tottori.name}></a>
    <br />(<{$pref.tottori.count}>)  
  </td>
  <td rowspan="2" class="weblinks_map_hyogo">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.hyogo.cid}>" ><{$pref.hyogo.name}></a>
    <br />(<{$pref.hyogo.count}>)  
  </td>
  <td class="weblinks_map_kansai">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.kyoto.cid}>" ><{$pref.kyoto.name}></a>
    <br />(<{$pref.kyoto.count}>)  
  </td>
  <td class="weblinks_map_kansai">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.shiga.cid}>" ><{$pref.shiga.name}></a>
    <br />(<{$pref.shiga.count}>)  
  </td>
  <td class="weblinks_map_hokuriku">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.fukui.cid}>" ><{$pref.fukui.name}></a>
    <br />(<{$pref.fukui.count}>)  
  </td>
  <td rowspan="2" class="weblinks_map_nagano">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.nagano.cid}>" ><{$pref.nagano.name}></a>
    <br />(<{$pref.nagano.count}>)  
  </td>
  <td class="weblinks_map_kanto">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.gunma.cid}>" ><{$pref.gunma.name}></a>
    <br />(<{$pref.gunma.count}>)  
  </td>
  <td class="weblinks_map_kanto">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.tochigi.cid}>" ><{$pref.tochigi.name}></a>
    <br />(<{$pref.tochigi.count}>)  
  </td>
  <td class="weblinks_map_kanto">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.ibaraki.cid}>" ><{$pref.ibaraki.name}></a>
    <br />(<{$pref.ibaraki.count}>)
  </td>
</tr>
<tr class="weblinks_map_jp">
  <td></td>
  <td class="weblinks_map_kyushu">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.kumamoto.cid}>" ><{$pref.kumamoto.name}></a>
    <br />(<{$pref.kumamoto.count}>) 
  </td>
  <td class="weblinks_map_kyushu">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.oita.cid}>" ><{$pref.oita.name}></a>
    <br />(<{$pref.oita.count}>) 
  </td>
  <td></td>
  <td class="weblinks_map_chugoku">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.hiroshima.cid}>" ><{$pref.hiroshima.name}></a>
    <br />(<{$pref.hiroshima.count}>)
  </td>
  <td class="weblinks_map_chugoku">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.okayama.cid}>" ><{$pref.okayama.name}></a>
    <br />(<{$pref.okayama.count}>) 
  </td>
  <td class="weblinks_map_kansai">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.osaka.cid}>" ><{$pref.osaka.name}></a>
    <br />(<{$pref.osaka.count}>) 
  </td>
  <td class="weblinks_map_kansai">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.nara.cid}>" ><{$pref.nara.name}></a>
    <br />(<{$pref.nara.count}>) 
  </td>
  <td class="weblinks_map_chubu">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.gifu.cid}>" ><{$pref.gifu.name}></a>
    <br />(<{$pref.gifu.count}>)
  </td>
  <td class="weblinks_map_kanto">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.yamanashi.cid}>" ><{$pref.yamanashi.name}></a>
    <br />(<{$pref.yamanashi.count}>)
  </td>
  <td class="weblinks_map_kanto">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.saitama.cid}>" ><{$pref.saitama.name}></a>
    <br />(<{$pref.saitama.count}>)
  </td>
  <td class="weblinks_map_kanto">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.chiba.cid}>" ><{$pref.chiba.name}></a>
    <br />(<{$pref.chiba.count}>)
  </td>
</tr>
<tr class="weblinks_map_jp">
  <td></td>
  <td class="weblinks_map_kagoshima">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.kagoshima.cid}>" ><{$pref.kagoshima.name}></a>
    <br />(<{$pref.kagoshima.count}>)
  </td>
  <td class="weblinks_map_kyushu">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.miyazaki.cid}>" ><{$pref.miyazaki.name}></a>
    <br />(<{$pref.miyazaki.count}>)
  </td>
  <td></td><td></td><td></td><td></td><td></td>
  <td class="weblinks_map_wakayama">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.wakayama.cid}>" ><{$pref.wakayama.name}></a>
    <br />(<{$pref.wakayama.count}>)
  </td>
  <td class="weblinks_map_chubu">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.mie.cid}>" ><{$pref.mie.name}></a>
    <br />(<{$pref.mie.count}>)
  </td>
  <td class="weblinks_map_chubu">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.aichi.cid}>" ><{$pref.aichi.name}></a>
    <br />(<{$pref.aichi.count}>)
  </td>
  <td class="weblinks_map_chubu">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.shizuoka.cid}>" ><{$pref.shizuoka.name}></a>
    <br />(<{$pref.shizuoka.count}>)
  </td>
  <td class="weblinks_map_kanagawa">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.kanagawa.cid}>" ><{$pref.kanagawa.name}></a>
    <br />(<{$pref.kanagawa.count}>)
  </td>
  <td class="weblinks_map_tokyo">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.tokyo.cid}>" ><{$pref.tokyo.name}></a>
    <br />(<{$pref.tokyo.count}>)
  </td>
  <td></td>
</tr>
<tr class="weblinks_map_jp">
  <td></td><td></td><td></td><td></td><td></td>
  <td class="weblinks_map_shikoku">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.ehime.cid}>" ><{$pref.ehime.name}></a>
    <br />(<{$pref.ehime.count}>)
  </td>
  <td class="weblinks_map_shikoku">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.kagawa.cid}>" ><{$pref.kagawa.name}></a>
    <br />(<{$pref.kagawa.count}>)
  </td>
  <td></td><td></td><td></td><td></td><td></td>
  <td></td><td></td><td></td>
</tr>
<tr class="weblinks_map_jp">
  <td class="weblinks_map_okinawa">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.okinawa.cid}>" ><{$pref.okinawa.name}></a>
    <br />(<{$pref.okinawa.count}>)
  </td>
  <td></td><td></td><td></td><td></td>
  <td class="weblinks_map_shikoku">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.kochi.cid}>" ><{$pref.kochi.name}></a>
    <br />(<{$pref.kochi.count}>)
  </td>
  <td class="weblinks_map_shikoku">
    <a href="<{$xoops_url}>/modules/<{$dirname}>/viewcat.php?cid=<{$pref.tokushima.cid}>" ><{$pref.tokushima.name}></a>
    <br />(<{$pref.tokushima.count}>)
  </td>
  <td></td><td></td><td></td><td></td><td></td>
  <td></td><td></td><td></td>
</tr>
</table>
