<{* $Id: weblinks_header.html,v 1.3 2007/11/16 12:07:58 ohwada Exp $ *}>

<{if $logoshow == 1}>
  <div class="weblinks_logo">
  <{if $keywords != '' }>
    <a href="<{$xoops_url}>/modules/<{$dirname}>/index.php?keywords=<{$keywords}>">
  <{else}>
    <a href="<{$xoops_url}>/modules/<{$dirname}>/index.php">
  <{/if}>
  <img src="<{$xoops_url}>/modules/<{$dirname}>/images/logo.gif" alt="logo" /></a>
  </div><br />
<{/if}>

<{if $titleshow == 1}>
  <div class="weblinks_modulename"><{$module_name}></div><br />
<{/if}>

<{if $index_desc != ''}>
  <{$index_desc}>
<{/if}>
