<{* $Id: weblinks_block_generic.html.\040CDS\040Patch.html,v 1.1 2012/04/09 10:22:23 ohwada Exp $ *}>
<{* hacked by hiro http://ishinomaki.cc/ *}>

<{* google map *}>
<{if $block.show_gmap}>
  <{$block.gmap}>
<{/if}>

<{* link list *}>
<ul>
<{foreach item=link from=$block.links}>
  <li>
  <{if $link.show_banner }>
    <{if ($block.show_mode_url == 2) && ($link.url == "") }>
      <{if $link.width > 0 }>
        <img src="<{$link.banner}>" width="<{$link.width}>" border="0" alt="banner" />
      <{else}>
        <img src="<{$link.banner}>" border="0" alt="banner" />
      <{/if}>
    <{else}>
      <{if $block.show_mode_url ==1 }>
        <a href="<{$xoops_url}>/modules/<{$block.dirname}>/visit.php?lid=<{$link.id}>" target="_blank">
      <{elseif $block.show_mode_url == 2 }>
        <a href="<{$link.url}>" target="_blank">
      <{else}>
        <a href="<{$xoops_url}>/modules/<{$block.dirname}>/singlelink.php?lid=<{$link.id}>">
      <{/if}>
      <{if $link.width > 0 }>
        <img src="<{$link.banner}>" width="<{$link.width}>" border="0" alt="banner" />
      <{else}>
        <img src="<{$link.banner}>" border="0" alt="banner" />
      <{/if}>
      </a>
    <{/if}>
  <{/if}>
  <{if $block.show_title}>
    <{if ($block.show_mode_url == 2) && ($link.url == "") }>
      <{$link.title}>
    <{else}>
      <{if $block.show_mode_url == 1}>
        <a href="<{$xoops_url}>/modules/<{$block.dirname}>/visit.php?lid=<{$link.id}>" target="_blank">
      <{elseif $block.show_mode_url == 2}>
        <a href="<{$link.url}>" target="_blank">
      <{else}>
        <a href="<{$xoops_url}>/modules/<{$block.dirname}>/singlelink.php?lid=<{$link.id}>">
      <{/if}>
      <{$link.title}></a>
    <{/if}>
  <{/if}>
  <{if $block.show_date}>
   (<{$link.date}>) 
  <{/if}>
  <{if $link.show_new }>
    <img src="<{$xoops_url}>/modules/<{$block.dirname}>/images/new.gif" border="0" alt="new" />
  <{/if}>
  <{if $link.show_update }>
    <img src="<{$xoops_url}>/modules/<{$block.dirname}>/images/update.gif" border="0" alt="update" />
  <{/if}>
  <{if $link.show_pop }>
    <img src="<{$xoops_url}>/modules/<{$block.dirname}>/images/pop.gif" border="0" alt="popular" />
  <{/if}>
  <{if $link.show_cat_title }>
    <br /> <{$smarty.const._WEBLINKS_IN}>
    <a href="<{$xoops_url}>/modules/<{$block.dirname}>/viewcat.php?cid=<{$link.cid}>"><{$link.cat_title}></a>
  <{/if}>
  <{if $link.show_desc}>
    <br />
    <span style="font-size: 90%;">
    <{$link.desc_short}>
    </span>
  <{/if}>
  </li>
<{/foreach}>
</ul>
